<!DOCTYPE html>
<html>
<head>
    <title>Plant Tag Printer</title>
	<link rel="stylesheet" href="/static/index.css">
	<script src="/static/index.js"></script>
</head>
<body>
    <h1>Plant Tag Printer</h1>
    <form id="label-form" method="POST">
		<div class="container">
			<div class="left">
				<label for="main_text">Main text:</label>
				<input type="text" id="main_text" name="main_text" class="input-field" required><br><br>
				<label for="cultivar">Cultivar:</label>
				<input type="text" id="cultivar" name="cultivar" class="input-field" required><br><br>
				<label for="subtext">Subtext:</label>
				<input type="text" id="subtext" name="subtext" class="input-field" required><br><br>
				<input type="submit" value="Generate Label" id="gen-btn">
				<input type="button" value="Save as default" id="save-btn">
				<br><img id="label-image" src="" alt="Generated label" style="display: none;">
				<br><span id="message"></span>
			</div>
			<div class="right">
				<div id="offset-controls-box">
					<div<span style="text-align: center;">Offsets</span></div>
					<div>
						<label for="x-offset">X:</label>
						<input type="number" id="x-offset" name="x-offset" class="input-field" value="0" step="1" required>
						<br>
						<label for="y-offset">Y:</label>
						<input type="number" id="y-offset" name="y-offset" class="input-field" value="-30" step="1" required>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="bottom-pane">
		<textarea id="message-log" style="height: 100%; width: 100%;" readonly></textarea>
	</div>

	<script>
	  document.getElementById('label-form').addEventListener('submit', function (event) {
		event.preventDefault();

		const formData = new FormData(event.target);

		fetch('/generate_label', {
		  method: 'POST',
		  body: formData,
		})
		  .then((response) => response.json())
		  .then((data) => {
			const labelImage = document.getElementById('label-image');
			labelImage.src = data.image_path;
			labelImage.style.display = 'block';

			logMessage(data.message,"#00FF00")
		  });
	  });
	</script>
</body>
</html>

