<!DOCTYPE html>
<html>
<head>
    <title>Plant Tag Printer</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/editor-module.css">
    <link rel="stylesheet" href="/static/search-module.css">
    <link rel="stylesheet" href="/static/queue-module.css">
</head>
<body>
    <div id="app">
        <div class="modules-container">
            <div id="editor-module" class="module"></div>
            <div class="right-modules">
                <div id="search-module" class="module"></div>
                <div id="queue-module" class="module"></div>
            </div>
        </div>
        </div>

    <!-- Toast Message -->
    <div id="toast-message"></div>

    <!-- Core System -->
    <script src="/static/js/EventBus.js"></script>
    
    <!-- Modules -->
    <script src="/static/js/modules/EditorModule.js"></script>
    <script src="/static/js/modules/SearchModule.js"></script>
    <script src="/static/js/modules/QueueModule.js"></script>
    
    <!-- Main App -->
    <script src="/static/js/app.js"></script>
</body>
</html>
